/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Bowlby One SC', cursive;
  background-color: white;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.hero {
  background-image: url(../images/SquabbleHub-BG.jpg);
  background-size: cover !important;
  background-position: center !important;
  height: 50vh;
}

#SH-Graphic {
  max-height:  !important;
}

.card-title, {
  padding: 10px 0;
}

.card-img {
  width: 12rem;
  margin-top: 5px;
}

.the-book {
  background-color: firebrick;
  color: white ;
}

.the-movie {
  background-color: mediumblue;
  color: white;
}





/* Main Styles */